/**
This is just a preview for me to see the colours in the editor.
 */
.body {
    -fx-background-color: #92ffc5;
    -fx-background-color: #c5ffe0;
    -fx-background-color: #3dff98;
    -fx-background-color: #00a34c;
    -fx-background-color: #004e25;

    -fx-background-color: #958cff;
    -fx-background-color: #d4d0ff;
    -fx-background-color: #766aff;
    -fx-background-color: #4737ff;
    -fx-background-color: #0a007b;

    -fx-background-color: #95c4ff;
    -fx-background-color: #c8e0ff;
    -fx-background-color: #62a8ff;
    -fx-background-color: #4095ff;
    -fx-background-color: #003373;

    -fx-background-color: #c3ff8e;
    -fx-background-color: #e7ffd2;
    -fx-background-color: #9fff4a;
    -fx-background-color: #73f400;
    -fx-background-color: #336c00;
}
