/* Dark theme for PeopleSoft */
/* Using HTTP Status Design Web App by uikit */
/* Retrieved from https://uikit.to/http-status-design-web-app/ */

.root {
    /* JavaFX CSS Parser only supports
       custom variables for colours and nothing else */
    /* Source: https://stackoverflow.com/questions/13566210/declaring-variable-in-javafx-css-file */
    /* Docs https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html */

    base: white;

    list-cell-even: #cdcdcd;
    list-cell-odd: #dedede;
    list-cell-selected: derive(list-cell-even, -10%);
    selected: accent;

    /* Font Colors */
    text-default: black;
    text-inverse: white;
    text-error: #FF5736;
    -fx-focus-color: black;

    /* Final Colors */
    text-norm: white;
    text-faded: #858AAB;

    bg: #1B1A2B;
    pane: #201f31;
    pane-light: #2e2d42;
    accent: #6368ff;

    tag: #262645;
    tag-green: #249b7e;
    tag-green-bg: #202a38;

    /* Unused */
    tag-yellow: #FF9860;
    tag-yellow-bg: #382F3C;
    tag-red: #E06767;
    tag-red-bg: #352A3D;
}

.background {
    -fx-background-color: bg;
}

.table-view {
    -fx-base: base;
    -fx-control-inner-background: base;
    -fx-background-color: base;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        transparent
        transparent;
    -fx-border-insets: 0 10 1 0;
}

/* used for help page table tho.. */
.table-view .column-header .label {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 20pt;
    -fx-text-fill: text-default;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(base, 20%);
    -fx-border-color: transparent transparent transparent section-border;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(base, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(base, 20%);
}

.list-cell {
    -fx-background-color: transparent;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: selected;
    -fx-border-width: 2;
}

.list-cell .label {
    -fx-text-fill: text-default;
}

.stack-pane {
     -fx-background-color: accent;
     -fx-text-fill: text-inverse;
}

.result-display {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Inter Regular";
    -fx-font-size: 9pt;
}

.result-display-label {
    -fx-background-color: pane;
    -fx-text-fill: text-faded !important;
}

.grid-pane {
    -fx-background-color: derive(base, 30%);
    -fx-border-color: derive(base, 30%);
    -fx-border-width: 1;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(base, 30%);
}

.menu .left-container {
    -fx-background-color: black;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb { /* the bar itself */
    -fx-background-color: pane-light;
    -fx-background-insets: 1; /* larger means thinner bar */
}

/* make other scroll controls invisible */
.scroll-bar .increment-button, .scroll-bar .decrement-button,
.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-opacity: 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 1 3 1 3;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.cmd-txt-field {
    -fx-background-color: transparent cmd-bg-and-box-outline transparent cmd-bg-and-box-outline;
    -fx-background-insets: 0;
    -fx-font-family: "Inter Regular";
    -fx-font-size: 13pt;
    -fx-text-fill: text-inverse;
    -fx-prompt-text-fill: text-faded;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#tags {
    -fx-hgap: 8;
    -fx-vgap: 8;
}

#tags .label {
    -fx-text-fill: accent;
    -fx-background-color: tag;
    -fx-padding: 7 7 7 7;
    -fx-border-radius: 6;
    -fx-background-radius: 2;
    -fx-font-family: "Inter Regular";
    -fx-font-size: 11;
}

#assigned {
    -fx-hgap: 8;
    -fx-vgap: 8;
}

#assigned .label {
    -fx-text-fill: tag-green;
    -fx-background-color: tag-green-bg;
    -fx-padding: 7 7 7 7;
    -fx-background-radius: 6;
    -fx-font-size: 11;
}

.main-pane {
    -fx-background-color: pane;
    -fx-background-radius: 11;
}

.border-pane {
    -fx-background-color: bg;
}

.person-card .label {
    -fx-text-fill: text-inverse;
    -fx-font-family: "Inter Regular";
    -fx-font-size: 12;
}

.employees-list .label {
    -fx-text-fill: text-inverse;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 12;
}

.jobs-list .label {
    -fx-text-fill: text-inverse;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 12;
}
